<h2>Library Books</h2>

<h3>New Book</h3>
<form class="form-horizontal" ng-submit="booksIndexCtrl.createBook()">
 <!-- Form title -->
  <div class="form-group">
    <label class="control-lebel col-md-2">Title:</label>
    <div class="col-md-2">
      <input ng-model="booksIndexCtrl.book.title" type="text" required="">
    </div>
  </div>
 <!-- Form Author -->
  <div class="form-group">
    <label class="control-lebel col-md-2">Author:</label>
    <div class="col-md-2">
      <input ng-model="booksIndexCtrl.book.author" type="text" required="">
    </div>
  </div>
   <!-- Form Release date -->
  <div class="form-group">
    <label class="control-lebel col-md-2">Release Date:</label>
    <div class="col-md-2">
      <input ng-model="booksIndexCtrl.book.releaseDate" type="text" required="">
    </div>
  </div>
   <!-- Form Image -->
  <div class="form-group">
    <label class="control-lebel col-md-2">Image:</label>
    <div class="col-md-2">
      <input ng-model="booksIndexCtrl.book.image" type="text" required="">
    </div>
  </div>
  <input type="submit" name="" value="submit"  class="btn btn-default">
</form>
  <!-- Search Book -->
  <div class="row">
    <b class="col-md-2">Search:</b>
    <div class="col-md-6">
      <input type="text" ng-model="searchBook" value="">
    </div>
    <button class="btn btn-default" ng-click="orderBy='title'">Title</button>
    <button class="btn btn-default" ng-click="orderBy='author'">Author</button>

  </div>
<div ng-repeat="book in booksIndexCtrl.books | filter: searchBook | orderBy: orderBy">
<hr>
  <div class="row">
    <div class="col-md-6 col-xs-12 thumbnail">
        <img class="img-responsive col-md-12" ng-src={{book.image}} alt="Book image">
      </div>

    <div class="col-md-6">
      <p>{{book._id}}</p>
      <a ng-href="/books/{{book._id}}">{{book.title}}</a>
      <p>{{book.author}}</p>
      <p>{{book.releaseDate}}</p>
    </div>
  </div>




</div>
